<!--Taken From login.css by Thomas for consistency-->
body {
    background: #000000;
    color: white;
    padding: 0px;
    margin: 0px;
  }

.banner {

  background: #424242;
  overflow: auto;
  width: 1200px;
  height: 70px;
  margin: auto;
  padding: 10px 10px 10px 10px;
}

.banner img {
  height: 70px;
}

.main {
  background-color: #212121;
  color: white;
  overflow: auto;
  margin: auto;
  width: 1200px;
  height: 500px;
  padding: 10px;
}
