body {
    background: #000000;
    color: white;
    padding: 0px;
    margin: 0px;
}

.banner {
    background: #424242;
    overflow: auto;
    width: 1200px;
    margin: auto;
    padding: 10px 10px 10px 10px;
}

.banner img {
    height: 70px;
}

.navWrap {
    background-color: #121212;
    overflow: auto;
    margin: auto;
    width: 1220px;
}
  
.navButtonL {
    overflow: auto;
    margin: auto;
    text-align: center;
    width: 150px;
    padding: 0px;
    float: left;
}
  
.navButtonR {
    overflow: auto;
    margin: auto;
    text-align: center;
    width: 150px;
    padding: 0px;
    float: right;
}
  
.navWrap a {
    color: #ffffff;
    background-color: #121212;
    padding: 12px 5px 12px 5px;
    overflow: auto;
    display: block;
    text-decoration: none;
    width: 140px;
}

.newscolumn {
    height: inherit;
    width: 302px;
    position: relative;
    float: left;
    border: 1px solid red;
}

.newswrapper {
    background-color: #212121;
    height: 800px;
    width: 1220px;
    word-break: break-word;
    display: block;
    margin-left: auto;
    margin-right: auto;
}